<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/main-layout}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<article layout:fragment="content">
		<main class="card-equal-height">
			<div class="card py-1">
			<div class="card-header bg-primary">
				<h1>Order INFORMATION</h1>
			</div>
			<div class="card-body">
				<form action="">
					<div class="row">
						<div class="col-sm-4">
							<label for="">Id</label> <input type="text"
								class="form-control">

						</div>
						<div class="col-sm-4">
							<label for="">Status</label> <input type="text"
								class="form-control">

						</div>
						<div class="col-sm-4">
							<label for="">Username</label> <input type="text"
								class="form-control">

						</div>
						<div class="col-sm-4">
							<label for="">Delivery Date</label> <input type="text"
								class="form-control">

						</div>
					</div>

				</form>
			</div>
		</div>
		<hr>
		<div class="card">
			<div class="card-header bg-primary">
				<h1>Order Lines</h1>
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th>ID Order</th>
							<th>Image</th>
							<th>Name of product</th>
							<th>Price</th>
							<th>Count</th>
							<th>Total pay</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td><img
								src="https://th.bing.com/th/id/OIP.RE0d_Im6Or8EH0089wJwUQHaE1?pid=ImgDet&rs=1"
								alt="" style="width: 280px;"></td>
							<td>Huyndai Accent</td>
							<td>100000</td>
							<td><input type="number" value="2"></td>
							<td>200000</td>
							<td><a href="/user/thanhtoan"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
						</tr>
						<tr>
							<td>1</td>
							<td><img
								src="https://th.bing.com/th/id/OIP.RE0d_Im6Or8EH0089wJwUQHaE1?pid=ImgDet&rs=1"
								alt="" style="width: 280px;"></td>
							<td>Huyndai Accent</td>
							<td>100000</td>
							<td><input type="number" value="2"></td>
							<td>200000</td>
							<td><a href="/user/thanhtoan"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
						</tr>
						<tr>
							<td>1</td>
							<td><img
								src="https://th.bing.com/th/id/OIP.RE0d_Im6Or8EH0089wJwUQHaE1?pid=ImgDet&rs=1"
								alt="" style="width: 280px;"></td>
							<td>Huyndai Accent</td>
							<td>100000</td>
							<td><input type="number" value="2"></td>
							<td>200000</td>
							<td><a href="/user/thanhtoan"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
						</tr>
						<tr>
							<td>1</td>
							<td><img
								src="https://th.bing.com/th/id/OIP.RE0d_Im6Or8EH0089wJwUQHaE1?pid=ImgDet&rs=1"
								alt="" style="width: 280px;"></td>
							<td>Huyndai Accent</td>
							<td>100000</td>
							<td><input type="number" value="2"></td>
							<td>200000</td>
							<td><a href="/user/thanhtoan"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
						</tr>
						<tr>
							<td>1</td>
							<td><img
								src="https://th.bing.com/th/id/OIP.RE0d_Im6Or8EH0089wJwUQHaE1?pid=ImgDet&rs=1"
								alt="" style="width: 280px;"></td>
							<td>Huyndai Accent</td>
							<td>100000</td>
							<td><input type="number" value="2"></td>
							<td>200000</td>
							<td><a href="/user/thanhtoan"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
						</tr>
						<tr>
							<td>1</td>
							<td><img
								src="https://th.bing.com/th/id/OIP.RE0d_Im6Or8EH0089wJwUQHaE1?pid=ImgDet&rs=1"
								alt="" style="width: 280px;"></td>
							<td>Huyndai Accent</td>
							<td>100000</td>
							<td><input type="number" value="2"></td>
							<td>200000</td>
							<td><a href="/user/thanhtoan"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
						</tr>
						<tr>
							<td>1</td>
							<td><img
								src="https://th.bing.com/th/id/OIP.RE0d_Im6Or8EH0089wJwUQHaE1?pid=ImgDet&rs=1"
								alt="" style="width: 280px;"></td>
							<td>Huyndai Accent</td>
							<td>100000</td>
							<td><input type="number" value="2"></td>
							<td>200000</td>
							<td><a href="/user/thanhtoan"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
						</tr>
						<tr>
							<td>1</td>
							<td><img
								src="https://th.bing.com/th/id/OIP.RE0d_Im6Or8EH0089wJwUQHaE1?pid=ImgDet&rs=1"
								alt="" style="width: 280px;"></td>
							<td>Huyndai Accent</td>
							<td>100000</td>
							<td><input type="number" value="2"></td>
							<td>200000</td>
							<td><a href="/user/thanhtoan"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
						</tr>
						<tr>
							<td>1</td>
							<td><img
								src="https://th.bing.com/th/id/OIP.RE0d_Im6Or8EH0089wJwUQHaE1?pid=ImgDet&rs=1"
								alt="" style="width: 280px;"></td>
							<td>Huyndai Accent</td>
							<td>100000</td>
							<td><input type="number" value="2"></td>
							<td>200000</td>
							<td><a href="/user/thanhtoan"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
						</tr>
						<tr>
							<td>1</td>
							<td><img
								src="https://th.bing.com/th/id/OIP.RE0d_Im6Or8EH0089wJwUQHaE1?pid=ImgDet&rs=1"
								alt="" style="width: 280px;"></td>
							<td>Huyndai Accent</td>
							<td>100000</td>
							<td><input type="number" value="2"></td>
							<td>200000</td>
							<td><a href="/user/thanhtoan"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
						</tr>
						<tr>
							<td>1</td>
							<td><img
								src="https://th.bing.com/th/id/OIP.RE0d_Im6Or8EH0089wJwUQHaE1?pid=ImgDet&rs=1"
								alt="" style="width: 280px;"></td>
							<td>Huyndai Accent</td>
							<td>100000</td>
							<td><input type="number" value="2"></td>
							<td>200000</td>
							<td><a href="/user/thanhtoan"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


		</main>

	</article>
</body>
</html>