<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/main-layout}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<article layout:fragment="content">
		<main class="card-equal-height">
			<div class="card">
				<div class="card-header bg-primary">
					<h1>Order</h1>
				</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<th scope="col">Id Order</th>
							<th scope="col">Price</th>
							<th scope="col">Count</th>
							<th scope="col">Address</th>
							<th scope="col">Name Customer</th>
							<th scope="col">Car Purchase Date</th>
							<th scope="col"></th>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>10000</td>
								<td>1</td>
								<td>DDaN</td>
								<td>Nguyen van a</td>
								<td>2012-01</td>
								<td><a href="/user/orderdetail"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
							</tr>
							<tr>
								<td>1</td>
								<td>10000</td>
								<td>1</td>
								<td>DDaN</td>
								<td>Nguyen van a</td>
								<td>2012-01</td>
								<td><a href="/user/orderdetail"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
							</tr>
							<tr>
								<td>1</td>
								<td>10000</td>
								<td>1</td>
								<td>DDaN</td>
								<td>Nguyen van a</td>
								<td>2012-01</td>
								<td><a href="/user/orderdetail"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
							</tr>
							<tr>
								<td>1</td>
								<td>10000</td>
								<td>1</td>
								<td>DDaN</td>
								<td>Nguyen van a</td>
								<td>2012-01</td>
								<td><a href="/user/orderdetail"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
							</tr>
							<tr>
								<td>1</td>
								<td>10000</td>
								<td>1</td>
								<td>DDaN</td>
								<td>Nguyen van a</td>
								<td>2012-01</td>
								<td><a href="/user/orderdetail"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
							</tr>
							<tr>
								<td>1</td>
								<td>10000</td>
								<td>1</td>
								<td>DDaN</td>
								<td>Nguyen van a</td>
								<td>2012-01</td>
								<td><a href="/user/orderdetail"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
							</tr>
							<tr>
								<td>1</td>
								<td>10000</td>
								<td>1</td>
								<td>DDaN</td>
								<td>Nguyen van a</td>
								<td>2012-01</td>
								<td><a href="/user/orderdetail"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
							</tr>
							<tr>
								<td>1</td>
								<td>10000</td>
								<td>1</td>
								<td>DDaN</td>
								<td>Nguyen van a</td>
								<td>2012-01</td>
								<td><a href="/user/orderdetail"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
							</tr>
							<tr>
								<td>1</td>
								<td>10000</td>
								<td>1</td>
								<td>DDaN</td>
								<td>Nguyen van a</td>
								<td>2012-01</td>
								<td><a href="/user/orderdetail"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
							</tr>
							<tr>
								<td>1</td>
								<td>10000</td>
								<td>1</td>
								<td>DDaN</td>
								<td>Nguyen van a</td>
								<td>2012-01</td>
								<td><a href="/user/orderdetail"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
							</tr>
							<tr>
								<td>1</td>
								<td>10000</td>
								<td>1</td>
								<td>DDaN</td>
								<td>Nguyen van a</td>
								<td>2012-01</td>
								<td><a href="/user/orderdetail"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
							</tr>
							<tr>
								<td>1</td>
								<td>10000</td>
								<td>1</td>
								<td>DDaN</td>
								<td>Nguyen van a</td>
								<td>2012-01</td>
								<td><a href="/user/orderdetail"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
							</tr>
							<tr>
								<td>1</td>
								<td>10000</td>
								<td>1</td>
								<td>DDaN</td>
								<td>Nguyen van a</td>
								<td>2012-01</td>
								<td><a href="/user/orderdetail"><i
										class="fa-solid fa-magnifying-glass "></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>


		</main>

	</article>
</body>
</html>